
.cameleon-collection-row {
	border-left: 3px solid #CCC;
	padding-left: 10px;
	position: relative;
	padding-right: 100px;
	.cameleon-collection-delete {
		position: absolute;
		top: 0;
		right: 0;
	}
}

.cameleon-select2 {
	display: block;
	width: 100%;
	font-size: 14px;
}