{% extends 'ESBaseBundle:Mail:base.html.twig' %}

{% block subject %}
	Yo!
{% endblock %}

{% block content_text %}
	Hello,

	How are you?
{% endblock %}

{% block content_html %}
	<p>Hello,</p>

	<p>How are you?</p>
{% endblock %}
